<style type="text/css">

		body {
			margin: 0;
			padding: 0;
			font-family: Helvetica, Arial, sans-serif;
		}

		a{
			text-decoration: none;
		}

		form{
			margin-top: 20px;
			font-size: 20px;
		}


		#body_content{
			height: 750px;
			width: 1200px;
			margin: 0px auto;
			border-radius: 10px;
  			background-image: linear-gradient(-90deg, #7494c2, #d0e4f2);
		}

		#topbar {
			background-color: #e1e6ed;
			height: 100px;
			width: 1200px;
			border-bottom-style: dotted;
			color: #164ba6;
			border-radius: 5px;
		}

		#logo{
			margin: 0px;
			float:left;
		}

		.topbar_text1 {
			color: #09121f;
			font-size: 18px;
			float: right;
			margin: 35px 500px  0px 0px;
		}

		.topbar_text2 {
			color: #09121f;
			font-size: 18px;
			float: right;
			margin: -68px 380px  0px 0px;
		}

		.topbar_text3 {
			color: #09121f;
			font-size: 18px;
			float: right;
			margin: -68px 260px  0px 0px;
		}

		.topbar_text4 {
			color: #09121f;
			font-size: 18px;
			float: right;
			margin: -68px 120px  0px 0px;
		}

		.topbar_box{
			padding: 5px 8px;
			border-radius: 10px;
			border: 1px solid #102d57;
			background-color: #fff;
		}

		.topbar_box:hover{
			color:white;
			background-color: #b3cdf2;
		}

		#profile_section{
			float: left;
			width: 300px;
			height: 647px;
		}

		.profile_box1{
			color: black;
			font-size: 20px;
			text-align: center;
			margin: 20px 30px 0px 30px;
			padding: 10px 15px;
			width: 200px;
			border: 1.5px solid black;
		}

		.profile_box2{
			color: black;
			font-size: 20px;
			text-align: center;
			margin: 20px 30px 0px 30px;
			padding: 10px 15px;
			width: 200px;
			border: 1.5px solid black;
			border-radius: 20px;
		}

		#provider_pic{
			margin:0px 30px;
			height: 200px;
			width: 100px;
		}

		.provider_text{
			margin: 10px 30px 0px 30px;
			font-size: 20px;
		}

		#post_section{
			float: left;
			width: 550px;
			height: 647px;
		}

		.post_text{
			font-weight: 2px;
			font-size: 30px;
			width: 530px;
			text-align: center;
			border-bottom: 2px solid black;
			margin-top: 10px;
			padding: 10px 0px; 
		}

		.post_text2{
			font-size: 20px;
			font-weight: 2px;
			margin-top: 20px;
			border: 2px solid black;
			border-radius: 20px;
			width: 200px;
			text-align: center;
			color: black;
		}

		.post_box{
			width: 350px;
			height:20px;
		}
		.post_box2{
			width: 350px;
			height:40px;
		}
		.post_box3{
			width: 100px;
			height:30px;
			font-size: 18px;
			margin-top: 10px;
			padding: 5px;
			background-color: blue;
			color: white;
		}

		#chat_section{
			float: left;
			width: 350px;
			height: 647px;
		}

		.chat_box{
			font-weight: 15px;
			color: black;
			font-size: 17px;
			text-align: center;
			margin: 30px 0px 0px 60px;
			padding: 10px 15px;
			width: 170px;
			border: 1.5px solid black;
			border-radius: 20px;
		}

		.chat_pic{
			margin: 20px 0px 0px 30px;
		}



		.clear {
			clear: both;
		}

		
	</style>